{{$loggedIn := .loggedIn}}
{{$classMap := .classMap}}
<html>
    <head>
	<meta charset="UTF-8">
	<title>i58 TF2 Portal</title>
	<style>
	 hr.style1 {
	     border-width: 1px;
	     color: rgba(255, 255, 255, 0.12);
	 }
	 .header-layer {
	     color: rgba(255, 255, 255, 0.12);
	 }
	 .list-item {
	    height: 1px !important;
	 }

	 h5.stat-card {
	     text-align: center;
	 }
	 h3.stat-card {
	     text-align: center;
	     word-wrap: break-word;
	     color: #000000
	 }
	 table.teams {
	     width: 100%;
	     /* height: 100%; */
	 }
	 p.stat-card {
	     text-align: center;
	 }
	 {{range $class, $info := .classes}}
	 .stat-card-{{$class}}.mdl-card {
	     width: 191px;
	 }
	 .stat-card-{{$class}} > .mdl-card__title {
	     height: 254px;
	     width: 191px;
	     background: url('assets/{{$class}}.jpg') center;
	 }
	 .stat-card-{{$class}} > .mdl-card__actions {
	     align-items: center;
	     display: flex;
	     box-sizing:border-box;
	 }
	 {{end}}
	</style>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.deep_purple-deep_orange.min.css"/>
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
	<div class="header-layer mdl-layout mdl-js-layout mdl-layout--fixed-header
		    mdl-layout--fixed-tabs">
	    <header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
		    <!-- Title -->
		    <span class="mdl-layout-title">Multiplay Insomnia 58 - Team Fortress 2</span>
		    {{if $loggedIn}}
		    <nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="/admin" target="_blank">Admin</a>
		    </nav>
		    <nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="/api/logout">Logout</a>
		    </nav>

		    {{end}}
		</div>
		<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
		    <a href="#matches" class="mdl-layout__tab">Matches</a>
		    <a href="#stats" class="mdl-layout__tab is-active">Stats</a>
		    <a href="#teams" class="mdl-layout__tab">Teams</a>
		    <a href="#social" class="mdl-layout__tab">Social</a>
		</div>
	    </header>
	    <main class="mdl-layout__content">
		<section class="mdl-layout__tab-panel" id="matches">
		    <!-- MATCHES -->
		    <ul class="list-item mdl-list">
			{{range $match := .matches}}
			<li class="list-item mdl-list__item mdl-list__item--two-line">
			    <span class="mdl-list__item-primary-content">
				{{if $match.Live}}
				<div id="live" class="icon material-icons mdl-list__item-icon">tv</div>
				<div class="mdl-tooltip mdl-tooltip--large" for="live">
				    Live
				</div>
				{{end}}
				<span><i>{{$match.Team1.Name}}</i> vs <i>{{$match.Team2.Name}}</i></span>
				<span class="mdl-list__item-sub-title">{{$match.Stage}}</span>
			    </span>
			    <span class="mdl-list__item-secondary-info">
				{{$match.Team1Score}}-{{$match.Team2Score}}
			    </span>
			    <span class="mdl-list__item-secondary-action">
				<button class="mdl-button mdl-js-button">
				    <a href="{{$match.MatchPage}}" target="_blank">Match Page</a>
				</button>
				<button class="mdl-button mdl-js-button">
				    <a href="http://logs.tf/{{$match.LogsID}}" target="_blank">Logs</a>
				</button>
				{{if $match.Highlights}}
				<button id="highlights-{{$match.ID}}"
class="mdl-button mdl-js-button">
				    Highlights
				</button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu"
				    for="highlights-{{$match.ID}}">
				    {{range $highlight := $match.Highlights}}
				    <li class="mdl-menu__item">
					<a href="{{$highlight.URL}}" target="_blank">{{$highlight.Title}}</a>
				    </li>
				    {{end}}
				</ul>
				{{end}}
				{{if $loggedIn}}
				<button id="admin-{{$match.ID}}"
class="mdl-button mdl-js-button">
				    Admin
				</button>
				<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				    for="admin-{{$match.ID}}">
				    <li class="mdl-menu__item">
					<button id="live-{{$match.ID}}"
class="mdl-button mdl-js-button">
					    {{if $match.Live}}Unset live{{else}}
					    Set Live{{end}}
					</button>
				    </li>
				</ul>
				<script>
				 $("#live-{{$match.ID}}").click(function() {
				     $.get({{if $match.Live}}"/api/admin/unset_live"{{else}}"/api/admin/set_live"{{end}},
					   {match_id: {{$match.ID}}})
				      .fail(function(data) {
					  alert("Error: "+JSON.stringify(data))
				      })
				 });
				</script>
				{{end}}
			    </span>
			</li>
			<hr class="style1">{{end}}
		    </ul>
		</section>
		<section class="mdl-layout__tab-panel is-active" id="stats">
		    <!-- STATS -->
		    <div class="mdl-grid">
			{{range $class, $info := .classes}}
			{{if $info.HighestDPM.Player.Name}}
			{{$className := index $classMap $class}}
			<div class="mdl-cell">
			    <div class="stat-card-{{$class}} mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title"></div>
				<div class="mdl-card__supporting-text">
				    {{if eq $class "medic"}}
				    <h3 class="stat-card">{{$info.HighestUbersPerDrop.Player.Name}}</h3>
				    <h3 class="stat-card">{{$info.HighestUbersPerDrop.Stat}}</h3>
				    <h5 class="stat-card"> Highest Ubers Per Drops</h5>
				    {{else}}
				    <h3 class="stat-card">{{$info.HighestDPM.Player.Name}}</h3>
				    <h3 class="stat-card">{{$info.HighestDPM.Stat}}</h3>
				    <h5 class="stat-card"> Highest {{$className}} DPM</h5>
				    {{end}}
				</div>
				<p>
				    <div class="stat-card-{{$class}} mdl-card__actions mdl-card--border">
					<button class="mdl-button mdl-js-button">
					    <a href="/stats?class={{$class}}">
						<p class="stat-card">{{$className}} Stats</p></a>
					</button>
				    </div>
				</p>
			    </div>
			</div>
			{{end}}
			{{end}}
		    </div>
		</section>
		<section class="mdl-layout__tab-panel" id="teams">
		    <table class="mdl-data-table mdl-js-data-table teams">
			<thead>
			    <tr>
				<th class="mdl-data-table__cell--non-numeric">Team</th>
				<th>Wins</th>
				<th>Losses</th>
			    </tr>
			</thead>
			<tbody>
			    {{range $team := .teams}}
			    <tr>
				<td class="mdl-data-table__cell--non-numeric"><a href="/team?id={{$team.ID}}">{{$team.Name}}</a></td>
				<td>{{$team.Wins}}</td>
				<td>{{$team.Losses}}</td>
			{{end}}
			</tbody>
		    </table>
		</section>
		<section class="mdl-layout__tab-panel" id="social">
		    <!-- SOCIAL -->
		</section>
	    </main>
	</div>
	</div>
    </body>
</html>
